<div layout="row" layout-fill>
  <md-content flex>
    <header>
      <acme-navbar></acme-navbar>
    </header>
    
    <md-progress-circular ng-show="challenge.viewLoading" md-diameter="96"></md-progress-circular>

    <section class="jumbotron" ng-hide="challenge.viewLoading">
      <h1>{{ challenge.challengeType }} Challenges.</h1>
      <h3 ng-show="challenge.hasChallenges()"> You have {{ challenge.challenges.length }} challenges!</h3>
      <h3 ng-hide="challenge.hasChallenges()"> Nothing to see here. Go for a jog and come back!</h3> 
    </section>
    <section layout="column">
      <md-card ng-repeat="c in challenge.challenges">
        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" src="http://image6.buzzintown.com/files/venue/upload_14000/upload_original/402752-booster-juice-garuda-mall.PNG"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">Booster Juice</span>
            <span class="md-subhead">Challenge Sponsor</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ c.name }}</span>
            <span class="md-subhead">Expires in {{ c.friendlyTime }}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <span flex></span>
          <md-button class="md-raised md-primary" ng-click="challenge.acceptChallenge(c.challengeIdentifier)" ng-hide="challenge.isAccepted">
            <md-icon class="material-icons">thumb_up</md-icon>
            I'm up for it!
          </md-button>
          <md-button class="md-raised md-primary md-accent" ng-click="challenge.rejectChallenge(c.challengeIdentifier)" ng-show="challenge.isAccepted" class='md-hue-2'>
          <md-icon class="material-icons">thumb_down</md-icon>
          Give Up
          </md-button>
        </md-card-actions>
      </md-card>
    </section>

  </md-content>

</div>
